section {
    margin: 5% 0;
}

.mat-card-avatar {
    background-color: #6b2a2a !important;
}

#when h3 {
    text-align: center;
    font-weight: bold;
}

mat-card-content .row div span {
    font-weight: 600;
    color: #de037f;
}

mat-card-content .row div p {
    font-size: 1.25rem;
}

@media screen and (min-width: 1024px) {
    :host ::ng-deep .timeline div {
        &:nth-child(even) {
            .timeline-content {
                margin-left: 60% !important;

                &::after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 30px;
                    left: -15px;
                    border-width: 10px 15px 10px 0;
                    border-color: transparent #f5f5f5 transparent transparent;
                }
            }
        }
    }
}

:host ::ng-deep .timeline-content {
    background: #fff !important;
    padding-top: 1% !important;
    -webkit-box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2) !important;

    .inner-content {
        margin: 0 !important;
        h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
            margin: 0 0 5% 0;
            font-weight: 600;
        }
        img {
            border-radius: 4%;
        }
    }
}

:host ::ng-deep .timeline-img {
    background: #de037f !important;
    p {
        font-weight: 500 !important;
        height: 15% !important;
    }
    @media screen and (max-width: 480px)
    {
        left: 2rem !important;
    }
    @media screen and (min-width: 481px) and (max-width: 650px)
    {
        left: 1.3rem !important;
    }
    @media screen and (min-width: 651px) and (max-width: 1024px)
    {
        left: 0.65rem !important;
    }
}

:host ::ng-deep .timeline-content .date {
    display: none !important;
}

:host ::ng-deep .timeline::before {
    background: rgba(222, 3, 127, 0.4);
}

.big-heading {
    font-size: 3em;
    margin-bottom: 1rem;
    line-height: 1em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.custom-color {
    color: #de037f;
}

.headline_1 {
    width: 215px;
    margin: 0 auto;
    left: 50%;
    height: auto;
    margin-bottom: 1rem !important;
    opacity: 0.7;
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}

vertical-timeline-card h2, vertical-timeline-card h3 {
    font-family: 'Dancing Script', cursive;
}

div.grid-item {
    margin: 2.5% 0 !important;
}

.item img {
    border-radius: 2%;
}

:host ::ng-deep .mat-chip-list-wrapper {
    display: block !important;
    text-align: center !important;
}

mat-chip-list mat-chip {
    margin-bottom: 5%;
}
