
<section>
    <div class="container-fluid">
        <div id="what" class="card mb-12">
            <div class="card-header custom-card-header-main">
                <h2>
                    Nuestra boda
                </h2>
            </div>
            <div class="card-block">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div id="when" class="card mb-12">
            <div class="card-header custom-card-header-main">
                <h2>
                    Cuándo  <i class="nc-icon nc-calendar-60"></i>
                </h2>
            </div>
            <div class="card-block">
                <h4>
                    06 / Abril / 2018  -  21:00 hs
                </h4>
                <br>
                <p>
                    (aca iria la cuenta regresiva)
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div id="where" class="card mb-12">
            <div class="card-header custom-card-header-main">
                <h2>
                    Dónde  <i class="nc-icon nc-map-big"></i>
                </h2>
            </div>
            <div class="card-block" #gmap style="width:100%;height:400px;">
            </div>
        </div>
    </div>
</section>