section {
    margin: 5% 0;
}

.mat-card-avatar {
    background-color: #6b2a2a !important;
}

#when h3 {
    text-align: center;
    font-weight: bold;
}

mat-card-content .row div span {
    font-weight: 600;
    color: #de037f;
}

mat-card-content .row div p {
    font-size: 1.25rem;
}

:host ::ng-deep .timeline-content {
    background: #fff !important;
    .inner-content {
        margin-right: 0 !important;
    }
}

:host ::ng-deep .timeline-img, .timeline-content .date {
    background: #de037f !important;
    p {
        font-weight: 500 !important;
        height: 15% !important;
    }
}

:host ::ng-deep .timeline::before {
    background: rgba(222, 3, 127, 0.4);
}

.big-heading {
    font-size: 3em;
    margin-bottom: 1rem;
    line-height: 1em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.custom-color {
    color: #de037f;
}

.headline_1 {
    width: 215px;
    margin: 0 auto;
    left: 50%;
    height: auto;
    margin-bottom: 1rem;
    opacity: 0.7;
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}

vertical-timeline-card h2, vertical-timeline-card h3 {
    font-family: 'Dancing Script', cursive;
}
