<section>
    <mat-card id="about-us">
        <mat-card-content>
            <h2 class="big-heading">La Feliz <span class="custom-color">Pareja</span></h2>
            <img class="headline_1" src="assets/img/headline_simple.svg" alt="">
            <div class="row">
                <div class="col-xs-6  col-sm-6 col-md-3 offset-md-2">
                    <img src="assets/img/faces/nahuel.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image" data-aos="zoom-in" data-aos-offset="400" data-aos-duration="900" data-aos-easing="ease-in-out-cubic">
                    <p class="text-center">Nahuel Goldy - <span>NOVIO</span></p>
                    <div class="social-line text-center">
                        <a href="https://www.instagram.com/nahuelsg64" class="btn btn-neutral btn-google btn-just-icon" data-aos="fade-up" data-aos-duration="300" data-aos-delay="500">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/nahuel-goldy/" class="btn btn-neutral btn-twitter btn-just-icon" data-aos="fade-up" data-aos-duration="300" data-aos-delay="700">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6  col-sm-6 col-md-3 offset-md-2">
                    <img src="assets/img/faces/gise.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image" data-aos="zoom-in" data-aos-offset="400" data-aos-duration="900"  data-aos-easing="ease-in-out-cubic">
                    <p class="text-center">Gisela Dominguez - <span>NOVIA</span></p>
                    <div class="social-line text-center">
                        <a href="https://www.facebook.com/gisela.dominguez.5891" class="btn btn-neutral btn-facebook btn-just-icon" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="https://www.instagram.com/gisedom64" class="btn btn-neutral btn-google btn-just-icon" data-aos="fade-up" data-aos-duration="300" data-aos-delay="500">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>

<section>
    <h2 class="big-heading">Nuestra <span class="custom-color"> Historia</span></h2>
    <img class="headline_1" src="assets/img/headline_simple.svg" alt="">
    <vertical-timeline>
        <div data-aos="fade-up" data-aos-offset="400" data-aos-duration="900" data-aos-easing="ease-in-out-cubic">
            <vertical-timeline-card [dateValue]="weMetDate">
                <h2 class="text-center"><strong>Nos conocimos</strong></h2>
                <mat-chip-list>
                    <mat-chip color="accent" selected>{{weMetDate | myLocaleDatePipe}}</mat-chip>
                </mat-chip-list>
                <p>
                    Gise y Nahuel se conocieron en Diciembre de 2009, y se pusieron oficialmente de novios el 30 de Diciembre.
                </p>
                <img mat-card-image src="assets/img/timeline1.jpg">
            </vertical-timeline-card>
        </div>

        <div data-aos="fade-up" data-aos-offset="400" data-aos-duration="900" data-aos-easing="ease-in-out-cubic">
            <vertical-timeline-card [dateValue]="weMovedTogetherDate">
                <h2 class="text-center"><strong>Nos mudamos juntos</strong></h2>
                <mat-chip-list>
                    <mat-chip color="accent" selected>{{weMovedTogetherDate | myLocaleDatePipe}}</mat-chip>
                </mat-chip-list>
                <p>
                    Poco después de cumplir el año de relación, se mudaron juntos a su pequeño pero ansiado hogar.
                </p>
                <img mat-card-image src="assets/img/timeline2.jpg">
            </vertical-timeline-card>
        </div>

        <div data-aos="fade-up" data-aos-offset="400" data-aos-duration="900" data-aos-easing="ease-in-out-cubic">
            <vertical-timeline-card [dateValue]="proposalDate">
                <h2 class="text-center"><strong>La propuesta</strong></h2>
                <mat-chip-list>
                    <mat-chip color="accent" selected>{{proposalDate | myLocaleDatePipe}}</mat-chip>
                </mat-chip-list>
                <p>
                    Después de más de 8 años de noviazgo, Nahuel le propuso Matrimonio a Gise a los pies de la torre Eiffel, y bajo la nieve.
                </p>
                <img mat-card-image src="assets/img/timeline3.jpg">
            </vertical-timeline-card>
        </div>

        <div data-aos="fade-up" data-aos-offset="400" data-aos-duration="900" data-aos-easing="ease-in-out-cubic">
            <vertical-timeline-card [dateValue]="partyDate">
                <h2 class="text-center"><strong>La boda</strong></h2>
                <mat-chip-list>
                    <mat-chip color="accent" selected>{{partyDate | myLocaleDatePipe}}</mat-chip>
                </mat-chip-list>
                <p>
                    Finalmente, casi 10 años después de conocerse, van a dar el sí (y no es broma).
                    Si estás leyendo esto, has sido invitado/a y esperan que seas parte de la celebración!
                </p>
                <img mat-card-image src="assets/img/timeline4-1.jpg">
            </vertical-timeline-card>
        </div>
    </vertical-timeline>
</section>

<section>
    <mat-card id="where">
        <mat-card-content>
            <h2 class="big-heading">El <span class="custom-color">Lugar</span></h2>
            <img class="headline_1" src="assets/img/headline_simple.svg" alt="">
            <mat-vertical-stepper [linear]="false" #stepper>
                <mat-step>
                    <ng-template matStepLabel>LA CEREMONIA</ng-template>
                    <h6 class="text-center">Dónde: </h6>
                    <p class="text-center">Parroquia San Jerónimo.</p>
                    <h6 class="text-center">Dirección: </h6>
                    <p class="text-center">San Jerónimo 1129, Coronda, SF, Argentina.</p>
                    <h6 class="text-center">Cuándo: </h6>
                    <p class="text-center">06/04/2019, 21:00hs.</p>
                    <div #gmap2 style="width:100%;height:400px;" data-aos="zoom-in" data-aos-offset="400" data-aos-duration="900"
                        data-aos-easing="ease-in-out">
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>LA FIESTA</ng-template>
                    <h6 class="text-center">Dónde: </h6>
                    <p class="text-center">Mutual Central Coronda, Salon Dorado.</p>
                    <h6 class="text-center">Dirección: </h6>
                    <p class="text-center">25 de Mayo 1650, Coronda, SF, Argentina.</p>
                    <h6 class="text-center">Cuándo: </h6>
                    <p class="text-center">06/04/2019, 21:30hs.</p>
                    <div #gmap style="width:100%;height:400px;" data-aos="zoom-in" data-aos-offset="400" data-aos-duration="900"
                        data-aos-easing="ease-in-out">
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
        <!--<mat-card-actions>-->
            <!--<button mat-button>SHARE</button>-->
        <!--</mat-card-actions>-->
    </mat-card>
</section>

<section>
    <mat-card id="gift">
        <mat-card-content>
            <h2 class="big-heading">El <span class="custom-color">Regalo</span></h2>
            <img class="headline_1" src="assets/img/headline_simple.svg" alt="">
            <div class="text-center">
                <p>El mejor regalo que nos podés hacer es</p>
                <h6 style="margin-bottom: 0 !important;"><span class="gift-h6">- TU PRESENCIA -</span></h6>
                <p> (en serio! <span style="font-size: 1.5rem;">☺</span>)</p>
                <br>
                <p>Pero si insistís con un obsequio, ¿qué te parecería ayudarnos a tener una</p>
                <h5 style="margin-bottom: 0 !important;"><span class="gift-h5">→ LUNA DE MIEL ←</span></h5>
                <p>de ensueño?</p>
                <i class="fa fa-plane" style="font-size: 1.5rem;"></i>
            </div>
            <div class="gift-container">
                <div class="gift-item" data-aos="fade-up" data-aos-offset="350" data-aos-duration="900" data-aos-easing="ease-in-out-cubic">
                    <i class="fa fa-money"></i>
                    <h4>ICBC - Nahuel Goldy</h4>
                    <p>CBU: 0150544301000140053633</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>

<section>
    <h2 class="big-heading">Foto <span class="custom-color">Album</span></h2>
    <img class="headline_1" src="assets/img/headline_simple.svg" alt="">
    <div class="container-fluid">
        <!-- Portfolio Images -->
        <div class="row grid">
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album1.jpg" alt="">
                </div>
            </div>
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album2.jpg" alt="">
                </div>
            </div>
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album3-2.jpg" alt="">
                </div>
            </div>
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row grid">
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album5.jpg" alt="">
                </div>
            </div>
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album6-2.jpg" alt="">
                </div>
            </div>
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500" data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album3.jpg" alt="">
                </div>
            </div>
            <div class="grid-item popup-gallery col-lg-3 col-md-6 col-sm-12">
                <div class="item" data-aos="flip-right" data-aos-offset="200" data-aos-duration="1500"data-aos-easing="ease-in-out">
                    <img class="img-fluid" src="assets/img/album/album7-2.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Portfolio Images End -->
    </div>
</section>