
.section-dark {
    padding-top: 5% !important;
}

mat-grid-tile {
    background: lightgrey;
}

.btn-round {
    font-size: 1.25rem !important;
}

.btn-round i {
    font-size: 1.5rem !important;
}

.btns {
    text-align: center;
    margin: 5% 0;
}

a {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

a img {
    max-width: 200%;
    max-height: 200%;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: -25%;
    position: relative;
    transform: translateX(-50%);
}

.container {
    padding: 3% 0;
    text-align: center;
}

mat-spinner {
    margin: 0 auto 3% auto;
}

.mat-card-image {
    width: auto !important;
    margin: 0 !important;
}
.mat-card-image:first-child {
    margin: 0 !important;
}