<div class="wrapper" [@routerTransition]>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/wedding-photo-album.jpg');">
        <div class="filter"></div>
    </div>

    <div class="btns col-md-12">
        <button type="button" class="btn btn-danger btn-round" [routerLink]="['/upload']"><i class="fa fa-plus-circle"></i> Subir fotos</button>
    </div>

    <div class="col-md-12">
        <mat-grid-list cols="3" rowHeight="4:3">

            <mat-grid-tile *ngFor="let pic of pics">
                <a (click)="openDialog(pic)">
                    <img mat-card-image src="{{pic.path}}">
                </a>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

    <!--<button mat-fab>-->
        <!--<mat-icon aria-label="Example icon-button with a heart icon" >add</mat-icon>-->
    <!--</button>-->

    <div class="container">
        <button type="button" *ngIf="!showSpinner" class="btn btn-outline-info btn-lg" (click)="getPics()">Cargar más fotos</button>
    </div>

    <div class="container">
        <mat-spinner *ngIf="showSpinner" color="accent" diameter="25"></mat-spinner>
    </div>

</div>