.navbar-dark {
  background-color: #6b2a2a !important;

  .navbar-brand {
    color: #FFF !important;
  }

  .navbar-burger span {
    background: #FFF !important;
  }

  .navbar-nav .nav-item a {
    color: #FFF !important;
  }
}

.navbar-nav .nav-item a {
  text-align: center !important;
  margin: 0 !important;
  opacity: 1 !important;
}