
<div class="wrapper" [@routerTransition]>

  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>

  <div class="profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>
      </div>
      <br/>
    </div>
  </div>

  <section *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="{{post.avatarURL}}">
        <mat-card-title>By: {{post.author}}</mat-card-title>
        <mat-card-subtitle>{{post.createdAt}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{post.message}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <div class="container">
      <button type="button" *ngIf="!showSpinner" class="btn btn-outline-info btn-lg" (click)="getPosts()">Cargar más publicaciones</button>
  </div>

  <div class="container">
      <mat-spinner *ngIf="showSpinner" color="accent" diameter="25"></mat-spinner>
  </div>

</div>