
.wrapper {
    background-color: #EEEEEE !important;
}

section {
    margin: 5% 0;
}

.mat-card-avatar, .profile-content {
    background-color: #6b2a2a !important;
}

mat-card-content p {
    /* Fix for the text overflowing card */
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.container {
    padding: 3% 0;
    text-align: center;
}

mat-spinner {
    margin: 0 auto 3% auto;
}

.new-post-form {
    width: 100%;
}

.new-post-full-width {
    width: 100%;
}

.mat-card-actions .mat-button {
    margin-left: 70% !important;
}

textarea {
    height: 4rem;
}