
<div class="wrapper" [@routerTransition]>

  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>

  <div class="profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>
      </div>
      <br/>
    </div>
  </div>

  <section>
    <mat-card>

      <mat-card-header>
        <mat-card-title>Dejanos un mensaje!</mat-card-title>
        <mat-card-subtitle>Un saludo, buenos deseos o lo que te nazca =)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form class="new-post-form">

          <mat-form-field class="new-post-full-width" appearance="outline">
            <mat-label>Autor (opcional)</mat-label>
            <input matInput type="text" name="author" [(ngModel)]="newPost.author">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="newPost.author = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="new-post-full-width" appearance="outline">
            <mat-label>Mensaje</mat-label>
            <textarea matInput type="text" name="mensaje" [(ngModel)]="newPost.message"></textarea>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="newPost.message = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="row">
            <p>Privado </p>
            <i class="fa fa-lock"></i>
            <mat-slide-toggle name="isPublic" [(ngModel)]="newPost.isPublic"></mat-slide-toggle>
            <i class="fa fa-unlock"></i>
            <p> Público</p>
          </div>

        </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="createPost(newPost)">PUBLICAR</button>
      </mat-card-actions>

    </mat-card>
  </section>

  <h6 style="margin-left: 5%"><br>Publicaciones</h6>

  <section *ngFor="let post of posts">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="{{post.avatarURL}}">
        <mat-card-title>By: {{post.author}}</mat-card-title>
        <mat-card-subtitle>{{post.createdAt}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{post.message}}
        </p>
      </mat-card-content>
    </mat-card>
  </section>

  <div class="container">
      <button type="button" *ngIf="!showSpinner" class="btn btn-outline-info btn-lg" (click)="getPosts()">Cargar más publicaciones</button>
  </div>

  <div class="container">
      <mat-spinner *ngIf="showSpinner" color="accent" diameter="25"></mat-spinner>
  </div>

</div>