<div class="wrapper main" [@routerTransition]>
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/selfie-wedding-1.jpg');">
    <div class="filter"></div>
  </div>

    <div class="profile-content">
      <div class="container">
        <div class="owner">
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src="../assets/img/camera-icon-4.png">
              <mat-card-title>Compartinos alguna foto!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Nos encantaría tener tu foto, para conservar de recuerdo.</p>
              <p>Si la marcás cómo privada, no la mostraremos en la galería y sólo la verán los novios.</p>
              <p>Cuantas más subas, mejor para nosotros. ¡Gracias por colaborar!</p>
            </mat-card-content>
          </mat-card>
        </div>
        <br/>
      </div>
    </div>

    <div class="col-md-12 upload-select-btns">
      <input
              style="display: none;"
              type="file"
              accept="image/*" multiple
              (change)="onFileSelected($event)"
              #fileInput>
      <input
              style="display: none;"
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              capture="camera"
              #cameraFileInput>
      <button type="button" class="btn btn-info btn-round" (click)="fileInput.click()" style="margin-right: 3vw;"><i class="fa fa-image"></i>Galería</button>
      <button type="button" class="btn btn-danger btn-round" (click)="cameraFileInput.click()" style="margin-left: 3vw;"><i class="fa fa-camera"></i>Cámara</button>
    </div>

    <div *ngFor="let file of selectedFiles; let i = index">
      <section>

        <mat-card>

          <mat-card-header>
            <mat-card-title>{{file.name}}</mat-card-title>
          </mat-card-header>

          <mat-card-content style="display: flex !important;">
            <img mat-card-avatar src="{{file.path}}">
            <div class="col-lg-10 col-md-10 col-sm-10 progress-bar-container">
              <mat-progress-bar
                      [mode]="file.loadProgressMode"
                      [value]="file.loadProgressValue">
              </mat-progress-bar>
            </div>
            <button mat-button (click)="removePic(i)">X</button>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>PUBLICAR</button>
          </mat-card-actions>

        </mat-card>

      </section>
    </div>

    <div class="col-md-12 publish-all-div" *ngIf="selectedFiles.length > 0">
      <button type="button" class="btn btn-success btn-round publish-all-btn" (click)="onUpload()"><i class="fa fa-upload"></i>SUBIR TODAS</button>
    </div>

</div>