.main-title {
  font-family: 'Clicker Script' !important;
  margin-bottom: 5%;
  font-size: 4rem !important;
  font-weight: 600;
}

.custom-color {
  color: #de037f;
}

.logo img {
  width: 70px;
}

.title-front {
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}

.logo img {
  margin-top: 10%;
}

.title-date {
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  padding: 0;
}

span.swirl-left {
  display: inline-block;
  background: url('/assets/img/swirl-left.png') no-repeat left;
  padding: 0 0 0 130px;
}

span.swirl-right {
  display: inline-block;
  background: url('/assets/img/swirl-right.png') no-repeat right;
  padding: 10px 130px 10px 0px;
}

.slider-img-holder {
  background: url('/assets/img/hearth_center.svg') no-repeat center center transparent;
  background-size: contain;
  margin: 0 auto;
  opacity: 0.2;
  width: 100%;
  height: 260px;
  position: absolute;
  left: 0;
  top: -20%;
}

.smalltext{
  padding-top: 5px;
  font-size: 1.75rem;
  font-family: 'Dancing Script';
}

#countdown {
  //margin-top: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  font-weight: 700;
  font-size: 2rem;
  border-radius: 50%;
  text-align: center;
  width: 8rem;
  height: 8rem;
  line-height: 5rem;
  position: relative;
  //opacity: 0;
  margin: 5px;
}

.countdown-item::before {
  position: absolute;
  content: ' ';
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  top: 0;
  opacity: .1;
}

.countdown-item .smalltext {
  line-height: 0 !important;
}

.slider-scroll i {
  color: #fff;
  position: relative;
  font-size: 3rem;
  top: 3rem;
}

.fade-down{
  animation-name: fade-down;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade-down;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}
@keyframes fade-down {
  0% 		{ -webkit-transform: translatey(-20px); transform: translatey(-20px); opacity: 0.8; }
  100% 	{ -webkit-transform: translatey(20px); transform: translatey(20px); opacity: 0;	}
}
@-webkit-keyframes fade-down {
  0% 		{-webkit-transform: translatey(-20px); opacity: 0.8; }
  100%	{-webkit-transform: translatey(20px); opacity: 0; }
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 70px;
  }
  .title-front {
    font-size: 22px;
  }
  .title-date {
    font-size: 32px;
  }
}

@media only screen and (max-width: 480px) {
  .title-date {
    font-size: 26px;
  }
  span.swirl-left {
    padding-left: 85px;
    background-size: 23%;
  }
  span.swirl-right {
    padding-right: 85px;
    background-size: 30%;
  }
}