.mat-icon {
    color: white;
    display: inline-block !important;
    float: right !important;
    margin-top: 3%;
}

p {
    color: white;
    display: inline-block !important;
    text-align: center;
    margin-left: 5vh;
}

.cust-row {
    margin-top: 2%;
    margin-bottom: -1.5%;
    /*text-align: center;*/
}

.cust-row button {
    display: inline-flex;
}

.mat-icon .mat-badge {
    font-size: 3rem !important;
    bottom: 1rem !important;
}

.mat-badge-content {
    right: -0.7rem !important;
    top: 0.8rem !important;
    background-color: transparent !important;
    font-size: 1rem !important;
}

.btn-default {
    color: white !important;
}

.btn-info {
    color: #51bcda !important;
}