<mat-dialog-content>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/img/soroush-karimi.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <p>Somewhere</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/federico-beccari.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <p>Somewhere else</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/joshua-stannard.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <p>Here it is</p>
      </div>
    </ng-template>
  </ngb-carousel>
</mat-dialog-content>
